* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial";
}

.button-30 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #e61e1e 0, #f3572c 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #ee6e12 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #ee6e12 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #ee6e12 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #ee6e12 0 3px 7px inset;
  transform: translateY(2px);
}

/* CSS */
.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

body {
  background: #3B3934;
  color: #fff;
}
body header {
  text-align: center;
  padding-top: 0.9rem;
}

.container {
  background-color: #435670;
  padding: 12px;
  height: 600px;
  width: 400px;
  box-shadow: 4px 4px 8px #000;
  border-radius: 15px;
  border: 10px solid rgba(0, 0, 0, 0.431372549);
  margin: 2rem auto;
}
.container .button-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.container .button-container #cal-btn,
.container .button-container #clear-btn {
  display: flex;
  padding: 1rem;
  flex: 1;
}
.container .result-container {
  width: 100%;
  height: 100px;
  border-radius: 8px;
  background-color: #3B3934;
  border: 4px solid rgba(0, 0, 0, 0.431372549);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 10, 0.83);
}
.container .result-container .output {
  font-size: 10rem;
}
.container .inner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.container .inner-container label {
  padding: 12px 11px;
  font-size: 1.1rem;
}
.container .inner-container #measure-unit {
  padding: 10px;
  border-radius: 4px;
  text-align: center;
  border: 2px solid rgba(0, 0, 0, 0.431372549);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  font-size: 0.9rem;
}
.container .inner-container #fields .inputs {
  flex-wrap: wrap;
  display: flex;
}
.container .inner-container #fields .inputs .input-wrapper {
  padding: 1.5rem;
  flex: 1;
}
.container .inner-container input {
  padding: 1rem;
  width: 110px;
  height: 50px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}
.container #result-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/*# sourceMappingURL=style.css.map */
